name: Belt

on:
  workflow_call:
    inputs:
      SUPPORTED_ARCH:
        required: true
        type: string

jobs:
  pre_test:
    name: L1 prepping matrix
    strategy:
      matrix:
        arch: ${{ fromJson(inputs.SUPPORTED_ARCH) }}
    runs-on:
      - self-hosted
      - ${{ matrix.arch }}
    steps:
      - name: Create matrix
        id: prepare
        run: |
          echo "matrix_tests=[\"['aaa', 'bbb', 'ccc']\",\"['ddd', 'eee', 'fff']\"]" >> $GITHUB_OUTPUT
    outputs:
      matrix_tests: ${{ tojson(steps.prepare.outputs.matrix_tests) }}
  test:
    name: L1 handling matrix
    needs:
      - pre_test
    if: ${{ always() && needs.pre_test.result == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        arch: ${{ fromJson(inputs.SUPPORTED_ARCH) }}
        batch: ${{ tojson(needs.pre_test) }}
    uses: ./.github/workflows/batch.yml
    with:
      ARCH: ${{ matrix.arch }}
      TESTS: ${{ matrix.batch }}
  nested:
    name: Calling L2 workflow
    strategy:
      fail-fast: false
      matrix:
        arch: ${{ fromJson(inputs.SUPPORTED_ARCH) }}
    uses: ./.github/workflows/test.yml
    with:
      ARCH: ${{ matrix.arch }}
